Repository comfyanonymous/ComfyUI, changes with the owners that CODEOWNERS names for each.
All owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

feat: add UV setup script for ComfyUI installation and environment management
  uv_setup.py
Owners: @comfyanonymous

docs: update UV Migration Guide with new installation options and setup instructions
  UV_MIGRATION.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

refactor: simplify UV setup script by removing environment variable settings and virtual environment checks
  uv_setup.sh
Owners: @comfyanonymous

refactor: enhance dependency update script with improved UV installation checks and error handling
  update_dependencies_uv.py
Owners: @comfyanonymous

docs: add comprehensive installation and user guide for ComfyUI
  README.md
  docs/INSTALL.md
  docs/UV_PACKAGE.md
  docs/installation.md
  docs/user-guide.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

docs: add comprehensive API documentation for ComfyUI
  docs/api.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

docs: add comprehensive guide for creating custom nodes in ComfyUI
  docs/custom-nodes.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Revert "Serve SVG files directly" (#111)
  server.py
Owners: @comfyanonymous

Fix the bugs in OFT/BOFT moule (#7909)
  comfy/weight_adapter/boft.py
  comfy/weight_adapter/oft.py
Owners: @comfyanonymous

Fix the bugs in OFT/BOFT moule (#7909)
  comfy/weight_adapter/boft.py
  comfy/weight_adapter/oft.py
Owners: @comfyanonymous

[BugFix] Update frontend 1.18.6 (#7910)
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

[BugFix] Update frontend 1.18.6 (#7910)
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

upstream Preview Any from rgthree-comfy (#7815)
  comfy_extras/nodes_preview_any.py
  nodes.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne, @comfyanonymous

upstream Preview Any from rgthree-comfy (#7815)
  comfy_extras/nodes_preview_any.py
  nodes.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne, @comfyanonymous

Update zluda.py
  comfy/zluda.py
Owners: @comfyanonymous

Update zluda.py
  comfy/customzluda/zluda.py
Owners: @comfyanonymous

Correct beta scheduler to match paper
  comfy/samplers.py
Owners: @comfyanonymous

Expose 4 remaining Recraft nodes (#112)
  comfy_api_nodes/apis/recraft_api.py
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

[Kling] Add `Duration` and `Video ID` outputs (#105)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Update samplers.py
  comfy/samplers.py
Owners: @comfyanonymous

Update nodes_custom_sampler.py
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Fix: datamodel-codegen sets string#binary type to non-existent `bytes_aliased` variable (#114)
  comfy_api_nodes/README.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Fix: Dall-e 2 not setting request content-type dynamically (#113)
  comfy_api_nodes/nodes_openai.py
Owners: @comfyanonymous

Fix updater issue with newer portable.
  .ci/update_windows/update.py
Owners: @comfyanonymous

Update update.py
  .ci/update_windows/update.py
Owners: @comfyanonymous

Fix updater issue with newer portable. (#7917)
  .ci/update_windows/update.py
Owners: @comfyanonymous

Fix updater issue with newer portable. (#7917)
  .ci/update_windows/update.py
Owners: @comfyanonymous

ComfyUI version 0.3.31
  comfyui_version.py
  pyproject.toml
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

ComfyUI version 0.3.31
  comfyui_version.py
  pyproject.toml
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Default request timeout: one hour. (#116)
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Add Kling nodes: camera control, start-end frame, lip-sync, video extend (#115)
  comfy_api/input_impl/video_types.py
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Switch genmo model to native RMSNorm.
  comfy/ldm/genmo/joint_model/asymm_models_joint.py
  comfy/ldm/genmo/joint_model/layers.py
Owners: @comfyanonymous

Switch WAN to native RMSNorm.
  comfy/ldm/wan/model.py
Owners: @comfyanonymous

Switch mochi and wan modes to use pytorch RMSNorm. (#7925)
  comfy/ldm/genmo/joint_model/asymm_models_joint.py
  comfy/ldm/genmo/joint_model/layers.py
  comfy/ldm/wan/model.py
Owners: @comfyanonymous

Switch mochi and wan modes to use pytorch RMSNorm. (#7925)
  comfy/ldm/genmo/joint_model/asymm_models_joint.py
  comfy/ldm/genmo/joint_model/layers.py
  comfy/ldm/wan/model.py
Owners: @comfyanonymous

Add 8 nodes - 4 BFL, 4 Stability (#117)
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/apis/stability_api.py
  comfy_api_nodes/nodes_bfl.py
  comfy_api_nodes/nodes_recraft.py
  comfy_api_nodes/nodes_stability.py
Owners: @comfyanonymous

Fix error for Recraft ImageToImage error for nonexistent random_seed param (#118)
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

add support to record video as output for 3d node
  comfy_extras/nodes_load_3d.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

source format
  comfy_extras/nodes_load_3d.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Add remaining Pika nodes (#119)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_pika.py
Owners: @comfyanonymous

CODEOWNERS:

# Admins
* @comfyanonymous

# Note: Github teams syntax cannot be used here as the repo is not owned by Comfy-Org.
# Inlined the team members for now.

# Maintainers
*.md @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests-unit/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/notebooks/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/script_examples/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/.github/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/requirements.txt @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/pyproject.toml @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne

# Python web server
/api_server/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/app/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/utils/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne

# Node developers
/comfy_extras/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
/comfy/comfy_types/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
