Repository comfyanonymous/ComfyUI, changes with the owners that CODEOWNERS names for each.
All owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

CODEOWNERS:

# Admins
* @comfyanonymous

# Note: Github teams syntax cannot be used here as the repo is not owned by Comfy-Org.
# Inlined the team members for now.

# Maintainers
*.md @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests-unit/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/notebooks/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/script_examples/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/.github/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/requirements.txt @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/pyproject.toml @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne

# Python web server
/api_server/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/app/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/utils/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne

# Node developers
/comfy_extras/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
/comfy/comfy_types/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne

Standard `CATEGORY` system for api nodes (#35)
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_kling.py
  comfy_api_nodes/nodes_runway.py
  comfy_api_nodes/nodes_veo2.py
Owners: @comfyanonymous

add better error propagation to veo2 (#37)
  comfy_api_nodes/apis/PixverseController.py
  comfy_api_nodes/apis/PixverseDto.py
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_veo2.py
Owners: @comfyanonymous

Add Recraft Text to Vector node, add Save SVG node to handle its output (#53)
  comfy_api_nodes/apis/recraft_api.py
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Added Recraft Controls + Recraft Color RGB nodes (#57)
  comfy_api_nodes/apis/recraft_api.py
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Moved Recraft nodes to nodes_recraft.py (#48)
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_recraft.py
  nodes.py
Owners: @comfyanonymous

Added pixverse_template support to Pixverse Text to Video node (#54)
  comfy_api_nodes/apis/pixverse_api.py
  comfy_api_nodes/nodes_pixverse.py
Owners: @comfyanonymous

Move and edit Minimax node to nodes_minimax.py (#50)
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_minimax.py
  nodes.py
Owners: @comfyanonymous

Moved Luma nodes to nodes_luma.py (#47)
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_luma.py
  nodes.py
Owners: @comfyanonymous

Fix runway image upload and progress polling (#39)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_runway.py
Owners: @comfyanonymous

Add Realistic Image and Logo Raster styles for Recraft v3 (#38)
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Set `Content-Type` header when uploading files (#36)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_runway.py
Owners: @comfyanonymous

Convert Minimax node to use VIDEO output type (#34)
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Set request type explicitly (#66)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_openai.py
Owners: @comfyanonymous

Add types and doctstrings to utils file (#64)
  comfy_api_nodes/apinode_utils.py
Owners: @comfyanonymous

Fix: `PollingOperation` progress bar update progress by absolute value (#65)
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Use common download function in kling nodes module (#67)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

split remaining nodes out of nodes_api, make utility lib, refactor ideogram (#61)
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_bfl.py
  comfy_api_nodes/nodes_ideogram.py
  comfy_api_nodes/nodes_kling.py
  comfy_api_nodes/nodes_luma.py
  comfy_api_nodes/nodes_minimax.py
  comfy_api_nodes/nodes_openai.py
  comfy_api_nodes/nodes_recraft.py
  comfy_api_nodes/nodes_runway.py
  nodes.py
Owners: @comfyanonymous

Fix: Luma video nodes in `api nodes/image` category (#68)
  comfy_api_nodes/nodes_luma.py
Owners: @comfyanonymous

Add String (Multiline) node (#93)
  comfy_extras/nodes_primitive.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Fix bug: deleting `Content-Type` when property does not exist (#73)
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Add preview to Save SVG node (#74)
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Removed Infinite Style Library until later (#99)
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Added Pixverse Image to VIdeo node (#77)
  comfy_api_nodes/apis/pixverse_api.py
  comfy_api_nodes/nodes_pixverse.py
Owners: @comfyanonymous

add ideogram v3 (#83)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_ideogram.py
Owners: @comfyanonymous

Fix UploadRequest file_name param (#98)
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Proper ray-1-6 support as fix has been applied in backend (#80)
  comfy_api_nodes/apis/luma_api.py
  comfy_api_nodes/nodes_luma.py
Owners: @comfyanonymous

Temporary Fix for Runway (#87)
  comfy_api_nodes/apis/__init__.py
Owners: @comfyanonymous

Added Stability Stable Image Ultra node (#86)
  comfy_api_nodes/apis/stability_api.py
  comfy_api_nodes/nodes_stability.py
  nodes.py
Owners: @comfyanonymous

Add Pika i2v and t2v nodes (#52)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_pika.py
  nodes.py
Owners: @comfyanonymous

Add `control_after_generate` to all seed inputs (#69)
  comfy_api_nodes/nodes_ideogram.py
  comfy_api_nodes/nodes_openai.py
  comfy_api_nodes/nodes_runway.py
  comfy_api_nodes/nodes_veo2.py
Owners: @comfyanonymous

Added Recraft Style - Infinite Style Library node (#82)
  comfy_api_nodes/apis/recraft_api.py
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Add Pixverse and updated Kling types (#75)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Change base branch to master. Not main. (#95)
  .github/workflows/update-api-stubs.yml
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

[Kling] Split Camera Control config to its own node (#81)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Remove Runway nodes (#88)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_runway.py
  nodes.py
Owners: @comfyanonymous

Update Pika Duration and Resolution options (#94)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_pika.py
Owners: @comfyanonymous

Add Pixverse Transition Video node (#79)
  comfy_api_nodes/apis/pixverse_api.py
  comfy_api_nodes/nodes_pixverse.py
Owners: @comfyanonymous

Fix: typo in node name "Stabiliy" => "Stability" (#91)
  comfy_api_nodes/nodes_stability.py
Owners: @comfyanonymous

change default poll interval (#76), rework veo2
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_veo2.py
Owners: @comfyanonymous

Fix: Prompt text can't be validated in Kling nodes when using primitive nodes (#90)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous
