Repository comfyanonymous/ComfyUI, changes with the owners that CODEOWNERS names for each.
All owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

CODEOWNERS:

# Admins
* @comfyanonymous

# Note: Github teams syntax cannot be used here as the repo is not owned by Comfy-Org.
# Inlined the team members for now.

# Maintainers
*.md @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests-unit/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/notebooks/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/script_examples/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/.github/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/requirements.txt @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/pyproject.toml @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne

# Python web server
/api_server/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/app/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/utils/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne

# Node developers
/comfy_extras/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
/comfy/comfy_types/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne

Add ExpandSigmas node
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Change log level for example_workflows folder name check
  app/custom_node_manager.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @christian-byrne

Update zluda.py
  comfy/zluda.py
Owners: @comfyanonymous

fix ideogram style types (#100)
  comfy_api_nodes/nodes_ideogram.py
Owners: @comfyanonymous

Update ideogram nodes to v3
  comfy_extras/nodes/nodes_ideogram.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Create placeholder
  comfy/flash_attn_triton_amd/placeholder
Owners: @comfyanonymous

Add files via upload
  comfy/flash_attn_triton_amd/__init__.py
  comfy/flash_attn_triton_amd/bwd_prefill.py
  comfy/flash_attn_triton_amd/bwd_ref.py
  comfy/flash_attn_triton_amd/fwd_decode.py
  comfy/flash_attn_triton_amd/fwd_prefill.py
  comfy/flash_attn_triton_amd/fwd_ref.py
  comfy/flash_attn_triton_amd/interface_fa.py
  comfy/flash_attn_triton_amd/utils.py
Owners: @comfyanonymous

Create placeholder
  comfy/flash_attn_triton_amd/__pycache__/placeholder
Owners: @comfyanonymous

fix multi image return (#101)
  comfy_api_nodes/nodes_ideogram.py
Owners: @comfyanonymous

add metadata saving to SVG (#102)
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Rename, add interpolation functions
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Move computed interpolation outside loop
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Add type hints
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Lint instance methods (#7903)
  comfy_extras/nodes_post_processing.py
  comfy_extras/nodes_webcam.py
  pyproject.toml
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Lint instance methods (#7903)
  comfy_extras/nodes_post_processing.py
  comfy_extras/nodes_webcam.py
  pyproject.toml
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Bump templates version to include API node template workflows (#104)
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Fix: `download_url_to_video_output` return type (#103)
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/nodes_kling.py
  comfy_api_nodes/nodes_pika.py
Owners: @comfyanonymous

fix 4o generation bug (#106)
  comfy_api_nodes/nodes_openai.py
Owners: @comfyanonymous

Serve SVG files directly (#107)
  server.py
Owners: @comfyanonymous

Make clipsave work with more TE models.
  comfy_extras/nodes_model_merging.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Make clipsave work with more TE models. (#7908)
  comfy_extras/nodes_model_merging.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Make clipsave work with more TE models. (#7908)
  comfy_extras/nodes_model_merging.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Add node to extend sigmas (#7901)
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Add node to extend sigmas (#7901)
  comfy_extras/nodes_custom_sampler.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Fix outdated comment about Internet connectivity (#7827)
  main.py
Owners: @comfyanonymous

Fix outdated comment about Internet connectivity (#7827)
  main.py
Owners: @comfyanonymous

Add a bunch of nodes, 3 ready to use, the rest waiting for endpoint support (#108)
  comfy_api_nodes/apis/bfl_api.py
  comfy_api_nodes/apis/recraft_api.py
  comfy_api_nodes/apis/stability_api.py
  comfy_api_nodes/nodes_bfl.py
  comfy_api_nodes/nodes_recraft.py
  comfy_api_nodes/nodes_stability.py
Owners: @comfyanonymous

Correct calculate_weight and load for OFT
  comfy/weight_adapter/oft.py
Owners: @comfyanonymous

Correct calculate_weight and loading for BOFT
  comfy/weight_adapter/boft.py
Owners: @comfyanonymous

Create zluda.py (custom zluda for miopen-triton)
  comfy/customzluda/zluda.py
Owners: @comfyanonymous

Add files via upload
  patchzluda-n.bat
Owners: @comfyanonymous

Update README.md
  README.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Create comfyui-n.bat
  comfyui-n.bat
Owners: @comfyanonymous

[BugFix] Update frontend 1.18.6
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Add files via upload
  install-n.bat
Owners: @comfyanonymous

Update patchzluda-n.bat
  patchzluda-n.bat
Owners: @comfyanonymous

Add UV package manager support and installation instructions
  .github/workflows/uv-build.yml
  CONTRIBUTING.md
  README.md
  UV_MIGRATION.md
  convert_requirements_to_pyproject.py
  install_with_uv.py
  pyproject.toml
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne, @comfyanonymous

Add UV environment setup and dependency management scripts
  UV-req-lock.txt
  clean_venv.py
  pyproject.toml
  requirements.txt
  update_dependencies_uv.py
  uv_setup.sh
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Update pyproject.toml with enhanced dependencies and author information; add __init__.py for module initialization
  __init__.py
  pyproject.toml
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

feat: add uv package
  cli.py
Owners: @comfyanonymous
