Repository comfyanonymous/ComfyUI, changes with the owners that CODEOWNERS names for each.
All owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

CODEOWNERS:

# Admins
* @comfyanonymous

# Note: Github teams syntax cannot be used here as the repo is not owned by Comfy-Org.
# Inlined the team members for now.

# Maintainers
*.md @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests-unit/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/notebooks/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/script_examples/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/.github/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/requirements.txt @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/pyproject.toml @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne

# Python web server
/api_server/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/app/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/utils/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne

# Node developers
/comfy_extras/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
/comfy/comfy_types/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne

Fix UploadRequest file_name param (#98)
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Removed Infinite Style Library until later (#99)
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Switch ltxv to use the pytorch RMSNorm.
  comfy/ldm/lightricks/model.py
Owners: @comfyanonymous

Switch ltxv to use the pytorch RMSNorm. (#7897)
  comfy/ldm/lightricks/model.py
Owners: @comfyanonymous

Switch ltxv to use the pytorch RMSNorm. (#7897)
  comfy/ldm/lightricks/model.py
Owners: @comfyanonymous

Update frontend to v1.18
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Create main.yml
  .github/workflows/main.yml
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Update frontend to v1.18 (#7898)
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Update frontend to v1.18 (#7898)
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Update stubs.
  comfy_api_nodes/apis/stubs.py
Owners: @comfyanonymous

Add staging api.
  comfy_extras/nodes_api.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Add Minimax Video Generation + Async Task queue polling example (#6)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/apis/stubs.py
  comfy_extras/nodes_api.py
  nodes.py
  uv.lock
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Revert "Remove polling operations."
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add API_NODE and common error for missing auth token (#5)
  comfy_extras/nodes_api.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne

Remove uv.lock
  uv.lock
Owners: @comfyanonymous

[Minimax] Show video preview and embed workflow in ouput (#7)
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add Ideogram generate node.
  comfy_extras/nodes_api.py
  nodes.py
Owners: @yoland68, @robinjhuang, @huchenlei, @pythongosssss, @ltdrdata, @Kosinkadink, @webfiltered, @christian-byrne, @comfyanonymous

Remove polling operations.
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Added Ideogram and Minimax back in.
  .github/workflows/update-api-stubs.yml
  .gitignore
  comfy_api_nodes/README.md
  comfy_api_nodes/apis/PixverseController.py
  comfy_api_nodes/apis/PixverseDto.py
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/redocly-dev.yaml
  comfy_api_nodes/redocly.yaml
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne, @comfyanonymous

Add --comfy-api-base launch arg (#13)
  comfy/cli_args.py
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Add instructions for staging development. (#14)
  comfy_api_nodes/README.md
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

remove validation to make it easier to run against LAN copies of the API
  comfy/cli_args.py
Owners: @comfyanonymous

Added initial BFL Flux 1.1 [pro] Ultra node (#11)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Manually add BFL polling status response schema (#15)
  comfy_api_nodes/apis/BFLPolling.py
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Refactor util functions (#20)
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add function for uploading files. (#18)
  comfy_api_nodes/apis/client.py
Owners: @comfyanonymous

Add Luma nodes (#16)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/apis/luma_api.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add Recraft nodes (#29)
  comfy_api_nodes/apis/recraft_api.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add Kling Nodes (#12)
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_kling.py
  nodes.py
Owners: @comfyanonymous

[Bug] Remove duplicated option T2V-01 in MinimaxTextToVideoNode (#31)
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

add veo2, bump av req (#32)
  comfy_api_nodes/apis/PixverseController.py
  comfy_api_nodes/apis/PixverseDto.py
  comfy_api_nodes/apis/__init__.py
  comfy_api_nodes/nodes_veo2.py
  nodes.py
Owners: @comfyanonymous

Fix image_luma_ref not working (#28)
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add rest of Luma node functionality (#19)
  comfy_api_nodes/apis/luma_api.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add utils to map from pydantic model fields to comfy node inputs (#30)
  comfy_api_nodes/README.md
  comfy_api_nodes/mapper_utils.py
  tests-unit/comfy_api_nodes_test/mapper_utils_test.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne, @comfyanonymous

Add Camera Concepts (luma_concepts) to Luma Video nodes (#33)
  comfy_api_nodes/apis/luma_api.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add Runway nodes (#17)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_runway.py
  nodes.py
Owners: @comfyanonymous

Add Minimax Image to Video node + Cleanup (#51)
  comfy_api_nodes/nodes_minimax.py
Owners: @comfyanonymous

Fix image upload for Luma: only include `Content-Type` header field if it's set explicitly (#40)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_api.py
Owners: @comfyanonymous

Add Pixverse nodes (#46)
  comfy_api_nodes/apis/pixverse_api.py
  comfy_api_nodes/nodes_pixverse.py
  nodes.py
Owners: @comfyanonymous

Move and fix BFL nodes to node_bfl.py (#49)
  comfy_api_nodes/apis/BFLPolling.py
  comfy_api_nodes/apis/bfl_api.py
  comfy_api_nodes/nodes_api.py
  comfy_api_nodes/nodes_bfl.py
  nodes.py
Owners: @comfyanonymous
