Repository comfyanonymous/ComfyUI, changes with the owners that CODEOWNERS names for each.
All owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Make controls input work for Recraft Image to Image node (#120)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Change cosmos and hydit models to use the native RMSNorm.
  comfy/ldm/cosmos/blocks.py
  comfy/ldm/cosmos/model.py
  comfy/ldm/hydit/models.py
Owners: @comfyanonymous

Change cosmos and hydit models to use the native RMSNorm. (#7934)
  comfy/ldm/cosmos/blocks.py
  comfy/ldm/cosmos/model.py
  comfy/ldm/hydit/models.py
Owners: @comfyanonymous

Change cosmos and hydit models to use the native RMSNorm. (#7934)
  comfy/ldm/cosmos/blocks.py
  comfy/ldm/cosmos/model.py
  comfy/ldm/hydit/models.py
Owners: @comfyanonymous

Change lumina to native RMSNorm.
  comfy/ldm/lumina/model.py
Owners: @comfyanonymous

Change lumina to native RMSNorm. (#7935)
  comfy/ldm/lumina/model.py
Owners: @comfyanonymous

Change lumina to native RMSNorm. (#7935)
  comfy/ldm/lumina/model.py
Owners: @comfyanonymous

get output format when saving to buffer
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

add unit tests for writing to file or stream with correct fmt
  tests-unit/comfy_api_test/input_impl_test.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

handle `to_format=None`
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

fix formatting
  tests-unit/comfy_api_test/input_impl_test.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Use upstream PR: Support saving Comfy VIDEO type to buffer (#123)
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

Update rmsnorm.py (Ensuring eps is not None)
  comfy/rmsnorm.py
Owners: @comfyanonymous

make audio chunks contiguous before encoding
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

Use Upstream PR: "Fix: Error creating video when sliced audio tensor chunks are non-c-contiguous" (#127)
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

Support saving Comfy `VIDEO` type to buffer (#7939)
  comfy_api/input_impl/video_types.py
  tests-unit/comfy_api_test/input_impl_test.py
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

Support saving Comfy `VIDEO` type to buffer (#7939)
  comfy_api/input_impl/video_types.py
  tests-unit/comfy_api_test/input_impl_test.py
Owners: @comfyanonymous, @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

make audio chunks contiguous before encoding (#7942)
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

make audio chunks contiguous before encoding (#7942)
  comfy_api/input_impl/video_types.py
Owners: @comfyanonymous

Improve audio upload utils (#128)
  comfy_api_nodes/apinode_utils.py
Owners: @comfyanonymous

Fix: Nested `AnyUrl` in request model cannot be serialized (Kling, Runway) (#129)
  comfy_api_nodes/apis/__init__.py
Owners: @comfyanonymous

Show errors and API output URLs to the user (change log levels) (#131)
  comfy_api_nodes/apis/client.py
  comfy_api_nodes/nodes_kling.py
  comfy_api_nodes/nodes_pika.py
Owners: @comfyanonymous

Fix: Luma I2I fails when weight is <=0.01 (#132)
  comfy_api_nodes/nodes_luma.py
Owners: @comfyanonymous

Change category of `LumaConcepts` node from image to video (#133)
  comfy_api_nodes/nodes_luma.py
Owners: @comfyanonymous

Fix: `image.shape` accessed before `image` is null-checked (#134)
  comfy_api_nodes/nodes_openai.py
Owners: @comfyanonymous

Apply small fixes and most prompt validation (if needed to avoid API error) (#135)
  comfy_api_nodes/apinode_utils.py
  comfy_api_nodes/nodes_bfl.py
  comfy_api_nodes/nodes_luma.py
  comfy_api_nodes/nodes_minimax.py
  comfy_api_nodes/nodes_openai.py
  comfy_api_nodes/nodes_pixverse.py
  comfy_api_nodes/nodes_recraft.py
  comfy_api_nodes/nodes_stability.py
Owners: @comfyanonymous

This should not be a warning.
  app/custom_node_manager.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @christian-byrne

This should not be a warning. (#7946)
  app/custom_node_manager.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @christian-byrne

This should not be a warning. (#7946)
  app/custom_node_manager.py
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @christian-byrne

Node name/category modifications (#140)
  comfy_api_nodes/nodes_bfl.py
  comfy_api_nodes/nodes_ideogram.py
  comfy_api_nodes/nodes_minimax.py
  comfy_api_nodes/nodes_openai.py
  comfy_api_nodes/nodes_pixverse.py
  comfy_api_nodes/nodes_stability.py
Owners: @comfyanonymous

Add back Recraft Style - Infinite Style Library node (#141)
  comfy_api_nodes/nodes_recraft.py
Owners: @comfyanonymous

Fixed Kling: Check attributes of pydantic types. (#144)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Bump `comfyui-workflow-templates` version (#142)
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

[Kling] Print response data when error validating response (#146)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Fix: error validating Kling image response, trying to use `"key" in` on Pydantic class instance (#147)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

[Kling] Fix: Correct/verify supported subset of input combos in Kling nodes (#149)
  comfy_api_nodes/nodes_kling.py
Owners: @comfyanonymous

Update frontend to 1.18.8
  requirements.txt
Owners: @yoland68, @robinjhuang, @huchenlei, @webfiltered, @pythongosssss, @ltdrdata, @Kosinkadink, @christian-byrne

CODEOWNERS:

# Admins
* @comfyanonymous

# Note: Github teams syntax cannot be used here as the repo is not owned by Comfy-Org.
# Inlined the team members for now.

# Maintainers
*.md @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/tests-unit/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/notebooks/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/script_examples/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/.github/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/requirements.txt @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne
/pyproject.toml @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @Kosinkadink @christian-byrne

# Python web server
/api_server/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/app/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne
/utils/ @yoland68 @robinjhuang @huchenlei @webfiltered @pythongosssss @ltdrdata @christian-byrne

# Node developers
/comfy_extras/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
/comfy/comfy_types/ @yoland68 @robinjhuang @huchenlei @pythongosssss @ltdrdata @Kosinkadink @webfiltered @christian-byrne
